[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mine = {editable = true, path = "."}
matplotlib = "==3.1.2"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
